@model UserViewModel

<form asp-action="SignupUser" id="form-action" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10">
            @* <label asp-for="Todo.Name" class="form-label"></label>
            <input asp-for="Todo.Id" type="hidden" class="form-control" /> *@
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
             <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control" type="password"/>
             <label asp-for="Type" class="form-label"></label>
            <input asp-for="Type" class="form-control" placeholder="Patient or Doctor"  />
           

            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10 mt-3 mb-5">
            <input type="submit" id="form-button" class="btn btn-success" value="SignUp" />
        </div>
    </div>
 <div>
        @Html.ActionLink("Already have an account, Login ", "Login", "Login", routeValues: null, htmlAttributes: new { @class = "btn-Success" })
    </div>
</form>